@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono&display=swap');

html { 
    scroll-behavior: smooth;
}

body, html{
    margin:0;
    padding:0;
}


#main{
    align-content: center;
    align-items: center;
    background: linear-gradient(0deg,#FFFFFF 0%,#EDF2F4 100%);
    display: flex;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 50px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
}

.port{
    grid-column: auto / span 3;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-self: center;
    font-size: 32px;
    font-family:'Unbounded', cursive;
}

#grid{
    display: grid;
    flex: none;
    gap: 10px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(12,minmax(40px,1fr));
    grid-template-rows: repeat(4,min-content);
    justify-content: center;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 130px;
}

.links{
    grid-column: auto / span 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    gap: 20px;
    font-family: 'Unbounded',cursive;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: black;
}

.griditm {
    z-index: 4;
    align-self: start;
    height: auto;
    justify-self: start;
    position: relative;
    width: 100%;
}


#about{
    background-color: #d90429;
    width: 100%;
}

.about-content{
    color: white;
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 100px;
    position: relative;
}

.intro{
    font-size: 100px;
    font-family:'Unbounded', cursive;
    font-size: 44px;
    text-align: left;
    width: 50%;
}

.summ{
    font-size: 20px;
    font-family: 'Albert Sans', sans-serif;
    line-height: 2rem;
    width: 50%;
}

#skills{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.heading{
    font-size: 48px;
    font-family:'Unbounded', cursive;
    color: white;
    display: flex;
    align-self: flex-start;

}

.skills-grid{
    color: #EDF2F4;
    display: grid;
    flex: none;
    gap: 60px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    grid-template-rows: repeat(2,min-content);
    height: min-content;
    justify-content: center;
    align-self: flex-start;
    max-width: 1000px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.skills-grid img{
    width: 50px;
    height: max-content;
    padding-right: 10px;
}

.skills-grid div{
    display: flex;
    font-size: 30px;
    padding: 0px;
    font-family: 'Spline Sans Mono', monospace;
    align-items: center;
}



#projects{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 100px;
    gap: 50px;
    justify-content: center;


}
.pcards-grid{
    display: flex;
    justify-self: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:30px

}


.pcard {
    width: 190px;
    height: 250px;
    border-radius: 20px;
    background: #0d0d0d;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 50%);
    width: 60%;
    border-radius: 1rem;
    border-color: white;
    background-color: #0d0d0d;
    color: white;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    font-family: 'Spline Sans Mono', monospace;
    color: rgb(134, 134, 134);
   }
   
   .text-title {
    font-family:'Unbounded', cursive;
    color: white;
    font-size: 1.2em;
   }
   
   .pcard:hover {
    border-color: #d90429;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .pcard:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
    border-color: #d90429;
   }




#certificates{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 100px;
    gap: 50px;
    justify-content: center;
}



.cert-grid{
    display: flex;
    justify-content: space-between;
    justify-self: flex-start;
}


.cert-grid img{
    padding: 10px;
    width: 40%;
    border: 2px solid;
    border-color: #FFFFFF;
    border-radius: 20px;
}

.cert-grid img:hover{
    width: 40%;
    border-radius: 20px;
    border: 2px solid blue;
    transition: 0.2s ease-out;
}





#footer{
    display: flex;
    justify-content: center;
    padding: 100px;
    background-color: black;
}   

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .container button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #313638;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .icon {
    width: 26px;
    height: 26px;
    fill: #fff;
  }
  
  .container a:nth-child(1) button:hover {
    background-color: #1c2128;
  }
  
  .container a:nth-child(2) button:hover {
    background-color: #0077b5;
  }
  
  .container a:nth-child(3) button:hover {
    background-color: crimson;
  }
  
  .container a:nth-child(4) button:hover {
    background-color: #38c0fe;
  }
  
  .title {
    color: gray;
    font-weight: 300;
    font-size: 15px;
    font-family:'Unbounded', cursive;
    position: absolute;
    top: -35px;
    left: 0;
  }


@media (max-width:1110px){
    #main #grid{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #main{
        padding: 70px;
    }
    .port{
        font-size:22px ;
    }
    .link{
        font-size: 12px;
    }
}


@media (max-width:800px){
    .port{
        font-size: 20px;
    }
    .links{
        font-size: 10px;
    }

    #main #grid{
        grid-template-columns: repeat(8,minmax(40px,1fr));
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #main{
        padding: 50px;
    }

    #grid .griditm:nth-child(n+1):nth-child(-n+17){
        display: none;
    }

    .about-content{
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .summ,.intro{
        width: 100%;
    }
    

    #skills{
        padding: 50px;
    }
    .skills-grid{
        gap:10px;
        grid-template-columns: repeat(2,minmax(50px,1fr))
    }

    .skills-grid div{
        font-size: 20px;
    }

    .skills-grid img{
        width: 25px;
    }

    #projects{
        padding: 50px;
    }

    #footer{
        padding: 50px;
    }
}





@media (max-width:450px){
    .port{
        font-size: 18px;
    }
    .links{
        font-size: 8px;
    }
    #main #grid{
        grid-template-columns: repeat(6,minmax(40px,1fr));
        grid-template-rows: repeat(4,min-content);
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #grid .griditm:nth-child(n+1):nth-child(-n+25){
        display: none;
    }

    .skills-grid{
        gap:10px;
        grid-template-columns: repeat(1,minmax(100px,1fr))
    }

    .skills-grid div{
        font-size: 25px;
    }

    .skills-grid img{
        width: 30px;
    }
}
